<ion-view view-title="About" align-title="left">
    <ion-content>
       <h3 style="color:black;text-align:center;margin-top:30px;">Powered By <b>Relayer</b></h3>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-80">
               
                <h4>
                    IoT & digitization present an unprecedented opportunity for businesses worldwide; opportunity to be operationally efficient, improve customer experience and grow new revenue streams.
                 <br/> <br/>  However, biggest challenge for successful implementation of IoT is that one size doesn't fit all. Each customer is unique; what sensors to deploy where, how to connect to network, what business process to digitize, workflow and the RoI, is unique to each customer.

                  <br/><br/>  ramp.digital provides IoT solutions and services that work for you and not what others want you to buy.
                    This app is designed to work with the <b>Relayr Industrial Starter Kit</b>.<br />
                    by <a href="http://ramp.digital"> http://ramp.digital</a>
                </h4>
            </div>
            <div class="col-10"></div>
          </div>


    </ion-content>
</ion-view>

<style>
  
</style>