<ion-view view-title="Email Verification" align-title="left">
    <ion-content>
        <div>
            <div class="content verifyemail">

                <h3 class="text-center" style="color: black;">Verify your email</h3>
                <h6 class="text-center"><span class="text-center"> You are almost done!</span></h6>
                    <div class="text-center"><i class="ion-ios-email-outline"></i>
                </div>
              <br />
            </div>
        </div>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-80">
                <h6 class="text-center">Please  take a moment  to verify your email.</h6>
                <h6 class="text-center">Follow the link in the email to complete verification.</h6><br />
                <button class="button button-block button-outline button-calm" ng-click="EmailConfirm()" >Continue</button>
                <h6 class="text-center">Reset email</h6>
            </div>
            <div class="col-10"></div>
        </div>

    </ion-content>
</ion-view>
