<style>
    h3 {
        width: 100% !important;
    }

    .slider {
        height: 100%;
    }

    .slider-slide {
        padding-top: 0px;
        color: #000;
        background-color: #fff;
    }

    .slider-pager {
        position: absolute;
        z-index: 1;
        width: 55%;
        height: 15px;
        text-align: center;
    }

    #container {
        min-width: 310px;
        max-width: 800px;
        height: 200px !important;
    }
</style>
<ion-view view-title="Santa Clara site" align-title="left">
    <ion-content Scroll="true">
        <div class="content tank2" ng-init="TankDetails()">
            <div class="col-xs-12">
                <div>
                    <div class="col-10"></div>
                    <div class="col-90 m">
                        <h4>
                            &nbsp;{{deviceName}}
                        </h4>
                    </div>
                </div>
                <div class="row c">
                    <div class="temprature1 col-100">
                        <div id="tank" class="water3">
                            <span style="color:darkblue"><i class="ion ion-thermometer" aria-hidden="true"></i>&nbsp;{{temperatureValue}} F </span>
                        </div>
                    </div>
                </div>

                <div>
                    <ion-slide-box show-pager="true" on-slide-changed="onSlideChanged($index)">
                        <ion-slide>
                            <div>
                                <div class="row">
                                    <div class="col-5"></div>
                                    <div class="col-80"><h5><b>Find overview</b></h5></div>

                                    <div class="col-10"><h6 style="color:dodgerblue;">Setup</h6></div>
                                    <div class="col-5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-5"></div>
                                    <div class="col=95">
                                        <h5>&nbsp; &nbsp;<i class="icon ion-thermometer"></i>&nbsp;&nbsp;&nbsp;<b>{{temperatureValue}}F</b>&nbsp;&nbsp;<i class="fa fa-bell-o" aria-hidden="true"></i></h5>
                                        <h6 class="margin">Standard 50F-70F</h6>
                                        <h5>&nbsp;&nbsp;<i class="fa fa-compass" aria-hidden="true">&nbsp;&nbsp; <b>Last &nbsp;{{HatchDoorValue}} at {{HatchDoorDate| date:"hh:mma"}}</b></i></h5>
                                        <h6 class="margin">Normal hrs 6am-6pm</h6>
                                        <h5> &nbsp;&nbsp;<i class="icon ion-levels"></i>&nbsp;&nbsp;<b>Level &nbsp;&nbsp;{{levelval}}</b></h5>
                                    </div>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div ng-init="graph()">

                                <!--<h5 class="margin"><b>Temperature</b></h5><br/>
                                <b class="margin"> Today :</b> &nbsp;{{temperatureValue}}F-->
                                <div id="container"></div>

                                v>

                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div>
                                <h5 class="margin"><b>Hatch</b></h5>
                                <h6 class="margin">Normal hrs 6am-6pm</h6><br />
                                <b class="margin"> Today</b> &nbsp;{{HatchDoorDate| date:"hh:mma"}}

                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div>
                                <h5 class="margin"><b>Level &nbsp;{{levelTimeval | date:"hh:mma"}}</b></h5>

                                <b class="margin"> Today :</b> &nbsp;{{levelval}}

                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>


            </div>
        </div>




    </ion-content>
</ion-view>
<style>
    .c {
        background-color: #eee;
    }

    .margin {
        margin-left: 13%;
    }

    .m {
        margin-top: 5%;
    }


    /*.txtS {
            font-size: 10px;
            margin-right: 10px;
        }

        .temprature1 {
            position: relative;
        }

            .temprature p {
                color: #000 !important;
                /*text-align: center;*/
    /*font-size: 15px;
                position: absolute;
                top: 165px;
                left: 5px;
                width: 100%;
                margin: 0 auto;
            }*/
</style>
